@import url("reveal.js/css/theme/white.css");


.col {
    display: flex;
}
.col div {
    flex: 1;
}

.reveal {
    font-family: 'Open Sans';
    font-size: 2vw;
}
code {
    font-family: 'Source Code Pro' !important;
}

img {
   border: 0px !important;
   box-shadow: none !important;
}
h2, h3, h4, h5, h6 {
	text-shadow: 1px 1px 1px #1a1a1a !important
}

.twocolul ul {
	columns: 2;
}
.twocolul ul ul {
	columns: 1 !important;
}

.twocolul ol {
	columns: 2;
}
.twocolul ol ul {
	columns: 1 !important;
}