@import url("reveal.js/css/theme/white.css");

img { background-color: transparent !important; width: 90%}

img[alt="Hierarchy and Scope of Variables in Docker"] { width: 70%}
img[alt="Yo Dawg I heard you like Equal Signs"] { width: 30%}
img[alt="docker-logo"] { width: 40%}
img[alt="docker-mounts"] { width: 60%}
img[alt="dive"] { width: 70%}
img[alt="lazydocker"] { width: 70%}
img[alt="container"] { width: 60%}
img[alt="dcc"] { width: 40% }
img[alt="docker-vocabulary"] { width: 100% }
img[alt="qrcode"] { width: 40% }
img[alt="docker-pitfalls"] {
	transform: rotate(180deg);
	object-fit: cover;
	object-position: 0 0;
	width: 170px;
	height: 120px;
}

.intro h1, .intro p, .intro a {
	//color: white !important;
	#text-shadow: 3px 3px 4px #1a1a1a
}

html.intro h1, html.intro p {
	background-color: rgba(255,255,255,0.8);
}


.col {
    display: flex;
}
.col div {
    flex: 1;
}

.reveal {
    font-family: 'Open Sans';
    font-size: 2vw;
}
code {
    font-family: 'Source Code Pro' !important;
}

img {
   border: 0px !important;
   box-shadow: none !important;
}
h2, h3, h4, h5, h6 {
	text-shadow: 1px 1px 1px #1a1a1a !important
}

.twocolul ul {
	columns: 2;
}
.twocolul ul ul {
	columns: 1 !important;
}

.twocolul ol {
	columns: 2;
}
.twocolul ol ul {
	columns: 1 !important;
}